<div class="container" id="chat-root">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div id="connectionMsg" class="alert-info"></div>
        </div>
    </div>
    <div class="row" id="message-section">
        <div class="col-sm-8 offset-sm-2" id="messages">
            
        </div>
    </div>
    <div class="row" id="chat-section">
        <div class="col-sm-8 offset-sm-2">
            <div class="d-flex align-items-center">
                <input type="text" id="chatBox" placeholder="Type something..." class="form-control" disabled/>
                <button class="btn btn-sm btn-primary" id="sendBtn">Send</button>
            </div>
            <p class="text-info">Press Esc key to join another chat.</p>
        </div>
    </div>
</div>