<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <img src="~/images/loading.svg" alt="loading.." />
        </div>
        <div class="col-sm-6 offset-sm-3">
            <p>Please wait while we connect you with an available user.</p>
        </div>
    </div>
</div>
